.about-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(36, 36, 36);
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 2%;
    margin-bottom: 2%;
}

.skills-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.small-image{
    display: flex;
    max-width:35%;
    border-radius: 5%;
}

.header-container {
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(23, 23, 23);
    padding: 2%;
    border-bottom-style: solid;
    border-bottom-width: .5rem;
    border-color: rgb(221, 115, 115);
}



.button-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.button-container button {
    padding: 1rem 2rem;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(23, 23, 23);
    color: white;
    cursor: grab;
}

.button-container button:hover {
    background-color: #4242421b;
}



body {
    font-family: Arial, sans-serif;
    margin: 1rem;
    background-color: rgb(36, 36, 36);
    line-height: 1.6;
    overflow-y: scroll; 
    overflow-x: hidden;
}
header {
    text-align: center;
    margin-bottom: 2rem;
}
h1 {
    font-size: 3rem;
    color: white;
}
h3 {
    font-size: 1.75rem;
    margin: .5rem;
    margin-bottom: .125rem;
    color: white;
}
h4 {
    font-size: 1.5rem;
    margin: .5rem;
    padding-bottom: .5rem;
    color: white;
}
a {
    color: #0366d6;
    text-decoration: none;
    }
a:hover {
    text-decoration: underline;
}